modLoader = "javafml"
##if FORGE
#?? loaderVersion = "[32,)"
##else
loaderVersion = "[1,)"
##endif
issueTrackerURL = "https://github.com/Gaming32/world-host/issues"
license = "MIT"

[[mods]]
modId = "world_host"
namespace = "world-host"
version = "$version"
displayName = "World Host"
displayURL = "https://modrinth.com/mod/world-host"
logoFile = "icon.png"
authors = "Gaming32"
description = "Host your singleplayer worlds without having to run a server or setup port forwarding! In the future, we also plan to support Bedrock Edition clients through the use of Geyser."

##if NEOFORGE
#?? [[mixins]]
#?? config = "world-host.mixins.json"
##endif

[[dependencies.world_host]]
##if FORGE
#?? modId = "forge"
#?? versionRange = "[32,)"
##else
modId = "neoforge"
versionRange = "[20,)"
##endif
##if MC < 1.20.4
#?? mandatory = true
##else
type = "required"
##endif
ordering = "NONE"
side = "BOTH"

[[dependencies.world_host]]
modId = "minecraft"
##if MC == 1.20.1
#?? versionRange = "[1.20,1.20.2)"
##elseif MC == 1.20.4
versionRange = "[1.20.3,1.20.5)"
##else
#?? versionRange = "$mc_version"
##endif
##if MC < 1.20.4
#?? mandatory = true
##else
type = "required"
##endif
ordering = "NONE"
side = "BOTH"
